# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    paths:
      - renovate/renovate_config.json
      - .github/workflows/validate-renovate-base-config.yml
  pull_request:
    paths:
      - renovate/renovate_config.json
      - .github/workflows/validate-renovate-base-config.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Run a one-line script
        run: |
          npm install -g renovate
          renovate-config-validator "$GITHUB_WORKSPACE/renovate/renovate_config.json"
